@font-face {
  font-family: "Nexa Bold";
  font-style: bold;
  font-weight: 400;
  src: url("/assets/fonts/NexaBold.woff2") format("woff2"),
    url("/assets/fonts/NexaBold.woff") format("woff");
}

h1 {
  font-family: "Nexa Bold";
}

#landing {
  background-image: url("/images/sign up (1).svg");
  color: white;
}